@inject Microsoft.AspNetCore.Identity.SignInManager<Employee> SignInManager
@inject Microsoft.AspNetCore.Identity.UserManager<Employee> UserManager


<!--If user is signed In-->
@if (SignInManager.IsSignedIn(User))
{
    <ul class="navbar-nav mx-2">
        <li class="nav-item dropdown">
            <a class="nav-link text-light text-capitalize dropdown-toggle" href="#" data-bs-toggle="dropdown" id="LoginDropDown" aria-expanded="false">
                <i class="bi bi-person-circle text-warning"></i> Hello @UserManager.GetUserName((User)).Replace("@employee.com","")
            </a>
            <ul class="dropdown-menu mx-2" id="LoginDropDown">
                <li>
                    <a asp-controller="Employee" asp-action="Logout" class="dropdown-item text-dark">Logout</a>
                </li>
            </ul>
        </li>
    </ul>
}
else
{
    <a href="@Url.Action("Index", "Employee")" class="nav-link text-dark">Login</a> 
    <a href="@Url.Action("Register", "Employee")" class="nav-link text-dark">Register</a>         

        <a asp-controller="Employee" asp-action="Logout" class="nav-link text-dark">Logout</a>
}