# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

*.sh text eol=lf
*.bat text eol=crlf

Data/ksortreeservice-414322-fab8f55f2a05-secretViewer.json

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
appsettings.Development.json
appsettings.Production.json